{% extends "node.html.twig" %}
{% set image_url = file_url(content.field_image_media[0]['#media'].image.entity.uri.value) %}

{% block content %}
  {{ attach_library("sdnn_theme/course-banner") }}
  <div class="course_banner">
    <div class="banner_image" style="background-image: url({{ image_url }});">
      <h1 class="title">
        {{ label }}
      </h1>
    </div>
    <div class="description">
      {{ content.body }}
      {{ content.field_course_register_link }}
    </div>
  </div>
{% endblock %}
