{% extends "node.html.twig" %}
{% block content %}
  {{ attach_library("sdnn_theme/embed") }}
	<h6>{{ "Related Content"|t }}</h6>
	<h3 class="title">{{ label }}</h3>
	{{ content.field_teaser }}
	<a href="{{ url }}" class="button">{{ "Read More"|t }}</a>
{% endblock %}
