{% extends "node.html.twig" %}
{% block content %}
  {{ attach_library("sdnn_theme/bannerv1") }}
  {{ content.field_image_media }}
  <h1 class="title">
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h1>
  {% if content.field_teaser | render %}
    {{ content.field_teaser }}
  {% else %}
    {{ content.body }}
  {% endif %}
{% endblock %}
