{% extends "node.html.twig" %}

{% block content %}
	{{ attach_library("sdnn_theme/cardv4") }}
	{{ content.field_image_media }}
	<time>{{ node.created.value|date('F j, Y') }}</time>
	<h4 class="title">
		<a href="{{ url }}" rel="bookmark">{{ label }}</a>
	</h4>
{% endblock %}
