{% extends "node.html.twig" %}
{% block content %}
	{{ attach_library("sdnn_theme/compact") }}
	<div class="header">
		<span>{{ content.field_topic_taxo.0 }}</span>
    |
		<span>
			<time>{{ node.created.value|date('m/d/Y') }}</time>
		</span>
	</div>
  <h5 class="title">
		<a href="{{ url }}" rel="bookmark">{{ label }}</a>
	</h5>
{% endblock %}
