{% extends "node.html.twig" %}
{% block content %}
  {{ attach_library("sdnn_theme/teaser") }}
  {{ content.field_image_media }}
  <div class="content">
    <h4 class="title">
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h4>
    {% if content.field_teaser | render %}
      {{ content.field_teaser }}
    {% else %}
      {{ content.body }}
    {% endif %}
  </div>
{% endblock %}
