{% extends "node.html.twig" %}

{% block content %}
	{{ attach_library("sdnn_theme/cardv7") }}
  	{{ content.field_image_media }}
    <div class="content">
        {{ content.field_location_taxo }}
      <h4 class="title">
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h4>
    </div>
{% endblock %}