{#
/**
* @file
* Template override for service taxonomy.
*/
#}

<div class="services">
  <div class="layout-container">
    <div class="services__header">
      <div class="services__name">
        {{ name }}
      </div>
      {% if content.description %}
        <div class="services__description">
          {{ content.description }}
        </div>
      {% endif %}
    </div>
    {% if content.field_service_images %}
      <div class="section-carousel">
        {{ content.field_service_images }}
      </div>
    {% endif %}
    {% if content.field_description|render|striptags %}
      <div class="services__detail-description">
        {{ content.field_description }}
      </div>
    {% endif %}
  </div>
  <div class="services__contents">
    {{ content.field_content }}
  </div>
</div>
